# vim: set ft=yaml:
HeaderFilterRegex: '/gpt4all-(backend|chat)/(src|include)/'
Checks:
- 'bugprone-*'
- 'cert-*'
- 'clang-analyzer-*'
- 'cppcoreguidelines-*'
- 'google-*'
- 'misc-*'
- 'modernize-*'
- 'performance-*'
- 'portability-*'
- 'readability-*'
- '-*-avoid-c-arrays'
- '-*-macro-to-enum'
- '-*-magic-numbers'
- '-*-narrowing-conversions'
- '-*-non-private-member-variables-in-classes'
- '-*-use-default-member-init'
- '-*readability-braces-around-statements'
- '-bugprone-assignment-in-if-condition'
- '-bugprone-branch-clone'
- '-bugprone-crtp-constructor-accessibility'
- '-bugprone-easily-swappable-parameters'
- '-bugprone-implicit-widening-of-multiplication-result'
- '-bugprone-inc-dec-in-conditions'
- '-bugprone-suspicious-string-compare'
- '-bugprone-suspicious-stringview-data-usage'
- '-bugprone-switch-missing-default-case'
- '-cert-dcl03-c'
- '-cert-err33-c'
- '-cert-err58-cpp'
- '-clang-analyzer-core.CallAndMessage'
- '-clang-analyzer-cplusplus.Move'
- '-clang-analyzer-deadcode.DeadStores'
- '-clang-analyzer-optin.performance.Padding'
- '-clang-diagnostic-missing-include-dirs'
- '-clang-diagnostic-unreachable-code-break'
- '-cppcoreguidelines-avoid-do-while'
- '-cppcoreguidelines-avoid-goto'
- '-cppcoreguidelines-avoid-non-const-global-variables'
- '-cppcoreguidelines-explicit-virtual-functions'
- '-cppcoreguidelines-init-variables'
- '-cppcoreguidelines-macro-usage'
- '-cppcoreguidelines-no-malloc'
- '-cppcoreguidelines-noexcept-move-operations'
- '-cppcoreguidelines-owning-memory'
- '-cppcoreguidelines-prefer-member-initializer'
- '-cppcoreguidelines-pro-bounds-array-to-pointer-decay'
- '-cppcoreguidelines-pro-bounds-pointer-arithmetic'
- '-cppcoreguidelines-pro-type-const-cast'
- '-cppcoreguidelines-pro-type-cstyle-cast'
- '-cppcoreguidelines-pro-type-member-init'
- '-cppcoreguidelines-pro-type-reinterpret-cast'
- '-cppcoreguidelines-pro-type-static-cast-downcast'
- '-cppcoreguidelines-pro-type-union-access'
- '-cppcoreguidelines-pro-type-vararg'
- '-cppcoreguidelines-rvalue-reference-param-not-moved'
- '-cppcoreguidelines-special-member-functions'
- '-cppcoreguidelines-virtual-class-destructor'
- '-google-build-using-namespace'
- '-google-default-arguments'
- '-google-explicit-constructor'
- '-google-global-names-in-headers'
- '-google-readability-casting'
- '-google-readability-namespace-comments'
- '-google-readability-todo'
- '-google-runtime-int'
- '-misc-const-correctness'
- '-misc-include-cleaner'
- '-misc-no-recursion'
- '-misc-static-assert'
- '-misc-unused-parameters'
- '-misc-use-anonymous-namespace'
- '-misc-use-internal-linkage'
- '-modernize-avoid-bind'
- '-modernize-deprecated-headers'
- '-modernize-loop-convert'
- '-modernize-pass-by-value'
- '-modernize-raw-string-literal'
- '-modernize-return-braced-init-list'
- '-modernize-use-auto'
- '-modernize-use-designated-initializers'
- '-modernize-use-equals-default'
- '-modernize-use-nodiscard'
- '-modernize-use-override'
- '-modernize-use-ranges'
- '-modernize-use-std-print'
- '-modernize-use-trailing-return-type'
- '-modernize-use-using'
- '-performance-avoid-endl'
- '-performance-enum-size'
- '-performance-faster-string-find'
- '-performance-for-range-copy'
- '-performance-implicit-conversion-in-loop'
- '-performance-move-const-arg'
- '-performance-noexcept-move-constructor'
- '-performance-no-automatic-move'
- '-performance-unnecessary-copy-initialization'
- '-performance-unnecessary-value-param'
- '-readability-avoid-const-params-in-decls'
- '-readability-avoid-nested-conditional-operator'
- '-readability-avoid-return-with-void-value'
- '-readability-avoid-unconditional-preprocessor-if'
- '-readability-const-return-type'
- '-readability-container-size-empty'
- '-readability-convert-member-functions-to-static'
- '-readability-else-after-return'
- '-readability-function-cognitive-complexity'
- '-readability-identifier-length'
- '-readability-implicit-bool-conversion'
- '-readability-inconsistent-declaration-parameter-name'
- '-readability-isolate-declaration'
- '-readability-math-missing-parentheses'
- '-readability-named-parameter'
- '-readability-non-const-parameter'
- '-readability-qualified-auto'
- '-readability-redundant-access-specifiers'
- '-readability-redundant-inline-specifier'
- '-readability-redundant-member-init'
- '-readability-redundant-string-init'
- '-readability-simplify-boolean-expr'
- '-readability-static-accessed-through-instance'
- '-readability-suspicious-call-argument'
- '-readability-uppercase-literal-suffix'
- '-readability-use-anyofallof'
