[submodule "llama.cpp-mainline"]
	path = gpt4all-backend/llama.cpp-mainline
	url = https://github.com/nomic-ai/llama.cpp.git
	branch = master
[submodule "gpt4all-chat/usearch"]
	path = gpt4all-chat/third_party/usearch
	url = https://github.com/nomic-ai/usearch.git
[submodule "gpt4all-chat/third_party/jinja2cpp"]
	path = gpt4all-chat/third_party/jinja2cpp
	url = https://github.com/nomic-ai/jinja2cpp.git
