torch
accelerate
datasets
torchmetrics
evaluate
transformers
wandb
peft
nodelist-inflator
sentencepiece
jsonlines
#deepspeed # Needs torch to be installed so we need to install it after executing pip install -e requirementx.txt
