site_name: GPT4All
repo_url: https://github.com/nomic-ai/gpt4all
repo_name: nomic-ai/gpt4all
site_url: https://docs.gpt4all.io
edit_uri: edit/main/docs/
site_description: Documentation for running GPT4All anywhere.
copyright: Copyright &copy; 2023 Nomic, Inc
use_directory_urls: false

nav:
    - 'index.md' 
    - 'Quickstart' : 'gpt4all_desktop/quickstart.md'
    - 'Chats' : 'gpt4all_desktop/chats.md'
    - 'Models' : 'gpt4all_desktop/models.md'
    - 'LocalDocs' : 'gpt4all_desktop/localdocs.md'
    - 'Settings' : 'gpt4all_desktop/settings.md'
    - 'Python SDK':
      - 'gpt4all_python/home.md'
      - 'Monitoring': 'gpt4all_python/monitoring.md'
      - 'SDK Reference': 'gpt4all_python/ref.md'
    - 'Help':
      - 'FAQ': 'gpt4all_help/faq.md'
      - 'Troubleshooting': 'gpt4all_help/troubleshooting.md'


theme:
  name: material
  palette:
    primary: white
  logo: assets/nomic.png
  favicon: assets/favicon.ico
  features:
    - content.code.copy
    - navigation.instant
    - navigation.tracking
    - navigation.sections
#    - navigation.tabs
#    - navigation.tabs.sticky

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - docs/overrides/.icons
  - tables
  - admonition
  - codehilite:
      css_class: highlight
  - markdown_captions

extra_css:
    - css/custom.css

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_root_heading: True
            heading_level: 4
            show_root_full_path: false
            docstring_section_style: list
  - material/social:
      cards_layout_options:
          font_family: Roboto
          description: GPT4All runs LLMs efficiently on your hardware


  #- mkdocs-jupyter:
  #    ignore_h1_titles: True
  #    show_input: True
